<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="120 seconds" >

	<!-- https://logback.qos.ch/manual/configuration.html#fileInclusion -->
	<include resource="appender.xml"/>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="utf-8">
			<pattern>%d | %-5level | %thread | %logger | %msg%n</pattern>
			<outputPatternAsHeader>false</outputPatternAsHeader>
		</encoder>
	</appender>

	<!-- 全局日志：输出到控制台 -->
	<root level="WARN">
		<appender-ref ref="STDOUT"/>
	</root>

	<!-- 程序入口：输入到控制台 -->
	<logger name="com.jiangli.api.DemoApplication" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT"/>
	</logger>

	<!-- 业务日志：输出到业务日志文件 -->
	<logger name="com.jiangli.api" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="SERVICE_LOG_FILE"/>
	</logger>

	<logger name="org.springframework.boot.autoconfigure" level="ERROR" />
	<logger name="org.I0Itec.zkclient" level="ERROR" />
	<logger name="org.apache.zookeeper" level="ERROR" />
	<logger name="com.alibaba.druid" level="ERROR" />
	<logger name="com.alibaba.dubbo.registry" level="ERROR" />
	<logger name="com.alibaba.dubbo.rpc" level="ERROR" />
	<logger name="com.alibaba.dubbo.config" level="ERROR" />
	<logger name="com.alibaba.dubbo.common" level="ERROR" />
	<logger name="com.alibaba.dubbo.remoting.transport" level="ERROR" />
	<logger name="org.springframework.beans" level="ERROR" />
	<logger name="org.springframework.context" level="ERROR" />

</configuration>